/* Overview Types
------------------------------------------ */
body .overview {
    padding: 1em;
    background-color: #FFF2CE;
}

body .overview h2 {
    margin-top: 0;
}

body .overview h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    margin-top: 2em;
    font-size: 12px;
    text-transform: uppercase;
    color: #EEEEEE;
    background: #08515F;
    padding: 0.2em 0em 0.2em 0.5em;
    margin-bottom: 1em;

}

body .overview table {
    width: 100%;
}

body .overview td {
    font-size: 90%;

}


/* Content Types
------------------------------------------ */
body .on-deck {
    padding: 1em;
    background-color: #FFF2CE;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;    
}

body .on-deck h2 {
    margin-top: 0;
    color: #0A0D64;
}

body .PH-image {
    text-align: center;
    background-color: #BBBBBB;
    color: #EEEEEE;
    height: 50px;
    padding-top: 25px;
    margin-bottom: 2em;
    margin-top: 2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

body .PH-note {
    padding: 1em;
    background-color: #FFF2CE;
    margin-bottom: 2em;
    margin-top: 2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

body .PH-draft {
    font-size: 90%;
    font-style: italic;
    color: #404040;
    padding: 1em;
    margin: 0.5em 0 0.5em 0;
    background-color: #E0E0E0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Summary info
------------------------------------------ */
body .summary {
    color: #808080;
    margin-bottom: 1em;
    margin-top: 1em;
    font-style: italic;
    line-height: 1.75;
/*    font-family: Cambria,'Times New Roman',serif;
    font-size: 14px;*/
}

