/* Content
----------------------------------------------- */
/* line 6, ../sass/entry.scss */
.hentry {
  padding: 0 0 0 0;
}

/* line 10, ../sass/entry.scss */
.single .hentry {
  padding: 0;
}

/* line 14, ../sass/entry.scss */
.home #content .sticky {
  border: 1px solid #ccc;
  margin: 0 0 66px 0;
  padding: 22px 20px 0 20px;
}

/* line 20, ../sass/entry.scss */
.entry-title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 56px;
  font-weight: bolder;
  line-height: 1em;
  padding: 0 0 7px 0;
  text-align: left;
  width: 790px;
  letter-spacing: -1px;
}
/* line 30, ../sass/entry.scss */
.entry-title a {
  color: #000;
  text-decoration: none;
}
/* line 33, ../sass/entry.scss */
.entry-title a:active, .entry-title a:hover {
  color: #FF4B33;
}

/* line 37, ../sass/entry.scss */
.entry-meta {
  color: #666;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}
/* line 47, ../sass/entry.scss */
.entry-meta .n {
  font-size: 11px;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
/* line 54, ../sass/entry.scss */
.entry-meta a {
  color: #666;
  text-decoration: none;
}
/* line 57, ../sass/entry.scss */
.entry-meta a:active, .entry-meta a:hover {
  color: #FF4B33;
}
/* line 60, ../sass/entry.scss */
.entry-meta abbr {
  border: none;
  cursor: text;
  font-size: 11px;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* line 72, ../sass/entry.scss */
.entry-content {
  padding: 22px 0 0 0;
  width: 790px;
}
/* line 77, ../sass/entry.scss */
.entry-content p {
  width: 460px;
  clear: left;
}
/* line 82, ../sass/entry.scss */
.entry-content h1 + p:first-line, .entry-content .summary + p:first-line {
  text-transform: uppercase;
}
/* line 86, ../sass/entry.scss */
.entry-content ul, .entry-content ol {
  width: 428px;
  clear: left;
}
/* line 91, ../sass/entry.scss */
.entry-content h1 {
  border-top: 2px solid #666666;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  letter-spacing: -0.5px;
  padding: 16px 8px 16px 0;
  text-align: left;
}
/* line 102, ../sass/entry.scss */
.entry-content h2 {
  font-size: 19px;
  font-weight: bold;
  padding: 28px 0 14px 0;
  line-height: normal;
}
/* line 109, ../sass/entry.scss */
.entry-content h3 {
  font-size: 17px;
  font-style: italic;
  padding: 28px 0 5px;
  text-align: right;
  line-height: normal;
  margin-bottom: 3px;
  width: 460px;
  clear: left;
}
/* line 120, ../sass/entry.scss */
.entry-content h4 {
  font-size: 11px;
  font-family: "Helvetica Neue",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 460px;
  clear: left;
}
/* line 130, ../sass/entry.scss */
.entry-content table {
  margin-left: 1px;
}
/* line 132, ../sass/entry.scss */
.entry-content embed {
  margin: 0 0 22px 0;
}

/* line 149, ../sass/entry.scss */
.entry-utility {
  color: #666;
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 44px 0;
}
/* line 154, ../sass/entry.scss */
.entry-utility a {
  color: #666;
  font-style: italic;
  text-decoration: none;
}
/* line 159, ../sass/entry.scss */
.entry-utility a:active, .entry-utility a:hover {
  color: #FF4B33;
}

/* line 163, ../sass/entry.scss */
body {
  /* Not sure if this is used any more */
}
/* line 164, ../sass/entry.scss */
body .section-label {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 900;
  color: #000000;
  padding: 3px 0px 3px 8px;
  margin-top: 5em;
  text-align: right;
  font-family: "Helvetica Neue","Lucida Sans Unicode", Verdana, sans-serif;
}
/* line 177, ../sass/entry.scss */
body .custom-type-label {
  font-family: Verdana, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.75em;
  text-align: right;
  text-transform: uppercase;
  background-color: #FFF2CE;
}
