/* Sidebar Category Posts
------------------------------------------ */
body .cat-post-item {
  color: #505050;
  line-height: 1.4;
  margin-bottom: 1em; }

body .cat-post-item p {
  font-size: 90%;
  margin-bottom: 1em; }

body .cat-post-item li {
  margin-bottom: 2em; }
