/* Overview Types
------------------------------------------ */
/* line 3, ../sass/summary.scss */
body {
  /* Content Types
  ------------------------------------------ */
  /* Summary info
  ------------------------------------------ */
}
/* line 4, ../sass/summary.scss */
body .overview {
  padding: 0.5em;
  background-color: #FFF2CE;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 11, ../sass/summary.scss */
body .overview h1 {
  background-color: #FFFFFF;
}
/* line 15, ../sass/summary.scss */
body .overview h2 {
  margin-top: 0;
}
/* line 19, ../sass/summary.scss */
body .overview h3 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 900;
  color: #EEEEEE;
  background: #08515F;
  padding: 3px 8px 3px 8px;
  margin-top: 5em;
  margin-bottom: 1em;
  text-align: right;
  width: auto;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Helvetica Neue","Lucida Sans Unicode", Verdana, sans-serif;
}
/* line 36, ../sass/summary.scss */
body .overview .overview-image {
  height: 50px;
  width: 50px;
  clear: left;
}
/* line 42, ../sass/summary.scss */
body .overview table {
  width: 100%;
}
/* line 46, ../sass/summary.scss */
body .overview td {
  font-size: 90%;
}
/* line 51, ../sass/summary.scss */
body .section-label {
  margin-top: 0;
}
/* line 55, ../sass/summary.scss */
body .overview-module {
  padding: 0.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  clear: both;
  position: relative;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 66, ../sass/summary.scss */
body .overview-module:hover {
  background-color: #ede1c0;
}
/* line 68, ../sass/summary.scss */
body .overview-module:first-child {
  margin-top: 0;
}
/* line 70, ../sass/summary.scss */
body .overview-module:last-child {
  margin-bottom: 0;
}
/* line 77, ../sass/summary.scss */
body .overview-image {
  float: left;
  clear: left;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
/* line 86, ../sass/summary.scss */
body .overview-text {
  float: right;
  clear: right;
  width: 680px;
  margin-right: 10px;
}
/* line 99, ../sass/summary.scss */
body .on-deck {
  padding: 1em;
  background-color: #FFF2CE;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
/* line 105, ../sass/summary.scss */
body .on-deck h2 {
  margin-top: 0;
  color: #0A0D64;
}
/* line 112, ../sass/summary.scss */
body .PH-image {
  text-align: center;
  background-color: #BBBBBB;
  color: #EEEEEE;
  height: 50px;
  padding-top: 25px;
  margin-bottom: 2em;
  margin-top: 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 124, ../sass/summary.scss */
body .PH-note {
  padding: 1em;
  background-color: #FFF2CE;
  margin-bottom: 2em;
  margin-top: 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 133, ../sass/summary.scss */
body .PH-draft {
  font-size: 90%;
  font-style: italic;
  color: #404040;
  padding: 1em;
  margin: 0.5em 0 0.5em 0;
  background-color: #E0E0E0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 146, ../sass/summary.scss */
body .summary {
  color: #808080;
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.75;
  font-size: 17px;
}

/* line 158, ../sass/summary.scss */
h3 + .summary {
  font-size: 13px;
  font-style: italic;
}
