/* --------------------------------------------------------------

   Set default typography based on Blueprint

   http://code.google.com/p/blueprintcss/

-------------------------------------------------------------- */
/* Headings
-------------------------------------------------------------- */
/* line 13, ../sass/typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  clear: both;
}

/* Text elements
-------------------------------------------------------------- */
/* line 21, ../sass/typography.scss */
p {
  margin-bottom: 18px;
}

/* line 24, ../sass/typography.scss */
ul {
  margin: 0 0 18px 2.5em;
}

/* line 27, ../sass/typography.scss */
ol {
  margin: 0 0 18px 2.5em;
}

/* line 30, ../sass/typography.scss */
ul {
  list-style: disc;
}

/* line 33, ../sass/typography.scss */
ol {
  list-style-type: decimal;
}

/* line 36, ../sass/typography.scss */
ol ol {
  list-style: upper-alpha;
}

/* line 39, ../sass/typography.scss */
ol ol ol {
  list-style: lower-roman;
}

/* line 42, ../sass/typography.scss */
ol ol ol ol {
  list-style: lower-alpha;
}

/* line 45, ../sass/typography.scss */
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}

/* line 48, ../sass/typography.scss */
dl {
  margin: 0 1.5em;
}

/* line 51, ../sass/typography.scss */
dt {
  font-weight: bold;
}

/* line 54, ../sass/typography.scss */
dd {
  margin-bottom: 18px;
}

/* line 57, ../sass/typography.scss */
strong {
  font-weight: bold;
}

/* line 60, ../sass/typography.scss */
cite, em, i {
  font-style: italic;
}

/* line 63, ../sass/typography.scss */
blockquote {
  margin: 0 3em;
}

/* line 66, ../sass/typography.scss */
blockquote em, blockquote i, blockquote cite {
  font-style: normal;
}

/* line 69, ../sass/typography.scss */
pre {
  font: 11px Courier, monospace;
  line-height: 18px;
  margin-bottom: 18px;
}

/* line 74, ../sass/typography.scss */
code {
  font: 11px Courier, monospace;
}

/* line 77, ../sass/typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #333;
  cursor: help;
}

/* line 81, ../sass/typography.scss */
ins {
  text-decoration: none;
}

/* line 85, ../sass/typography.scss */
sup,
sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
}

/* line 92, ../sass/typography.scss */
sup {
  bottom: 1ex;
}

/* line 95, ../sass/typography.scss */
sub {
  top: .5ex;
}

/* Pullquotes
-------------------------------------------------------------- */
/* line 103, ../sass/typography.scss */
blockquote .left {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  text-align: right;
  width: 33%;
}
/* line 110, ../sass/typography.scss */
blockquote .right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
  text-align: left;
  width: 33%;
}
