/* Content
----------------------------------------------- */



.hentry {
    padding:0 0 0 0;
}

.single .hentry {
    padding:0;
}

.home #content .sticky {
    border:1px solid #ccc;
    margin:0 0 66px 0;
    padding:22px 20px 0 20px;
}

.entry-title {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
    font-size:56px;
    font-weight:bolder;
    line-height:1em;
    padding:0 0 7px 0;
    text-align: left;
    // margin-left: 150px;
    width: 790px;
    letter-spacing: -1px;
    a {
        color:#000;
        text-decoration:none;
        &:active, &:hover { color: #FF4B33; }
    }
}

.entry-meta {
    color:#666;
    font-size:13px;
    font-style:italic;
    line-height:18px;
    // margin-left: 150px;

    .author {
    }

    .n {
        font-size:11px;
        font-style:normal;
        letter-spacing:0.05em;
        text-transform:uppercase;
    }

    a {
        color:#666;
        text-decoration:none;
        &:active, &:hover { color: #FF4B33; }
    }

    abbr {
        border:none;
        cursor:text;
        font-size:11px;
        font-style:normal;
        letter-spacing:0.05em;
        text-transform:uppercase;
    }

}


.entry-content {
    // margin: 0 0 0 150px;
    padding: 22px 0 0 0;
    width: 790px;

    p {
        width: 460px;
        clear: left;
    }

    h1+p:first-line, .summary+p:first-line  {
        text-transform: uppercase;
    }

    ul, ol {
        width: 428px;
        clear: left;
    }

    h1 {
        border-top: 2px solid #666666;
        font-size: 2.5em;
        margin-bottom: 0.5em;
        font-weight: bold;
        letter-spacing: -0.5px;
        padding: 16px 8px 16px 0;
        text-align: left;
    }


    h2 {
        font-size:19px;
        font-weight:bold;
        padding:28px 0 14px 0;
        line-height: normal;
    }

    h3 {
        font-size:17px;
        font-style:italic;
        padding: 28px 0 5px;
        text-align: right;
        line-height: normal;
        margin-bottom: 3px;
        width: 460px;
        clear: left;
    }
    
    h4 {
        font-size:11px;
        font-family:"Helvetica Neue",sans-serif;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:0.05em;
        width: 460px;
        clear: left;
    }

    table { margin-left:1px; }

    embed { margin:0 0 22px 0; }
}



//  .entry-content h1+p::first-letter, .summary+p::first-letter  {
//      text-transform: uppercase;
//      float: left;
//      display: block;
//      margin: 7px 5px 5px 0;
//      font-family: Cambria, Georgia, 'Times New Roman', serif;
//      font-size: 81px;
//      color: #444444;
//      font-weight: bolder;
//  }


.entry-utility {
    color:#666;
    font-size:13px;
    line-height:18px;
    margin:0 0 44px 0;
    a {
        color:#666;
        font-style:italic;
        text-decoration:none;
        
        &:active, &:hover { color: #FF4B33; }
    }
}

body { 
    .section-label {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 900;
        color: #000000;
        padding: 3px 0px 3px 8px;
        margin-top: 5em;
        text-align: right;
        font-family: "Helvetica Neue","Lucida Sans Unicode", Verdana, sans-serif;
    }


    /* Not sure if this is used any more */
    .custom-type-label {
        font-family: Verdana, sans-serif;
        font-size: 1em;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 0.75em;
        text-align: right;
        text-transform: uppercase;
        background-color: #FFF2CE;
    }
}