.navBlock {
    clear:none;
    position: absolute;
    margin-left: 0;
    width: 140px;
    min-height: 50px;
    border: 1px solid blue;
}



/* =Navigation
-------------------------------------------------------------- */

.navigation {
    color:#666;
    font-size:13px;
    line-height:18px;
    margin:0px 0 22px 0;
    overflow:hidden;
    a {
        color:#666;
        font-style:italic;
        text-decoration:none;
        &:active, &:hover { color: #FF4B33; }
    }
    
    .meta-nav {
        font-style:normal;
    }
}

.nav-previous {
	float: left;
	width:50%;
}
.nav-next {
	float: right;
	width:50%;
	text-align:right;
}

#nav-above,#nav-below {
	width: 100%;
}
#nav-above {
    display:none;
}
.paged #nav-above {
    display:block;
    padding:0 0 44px 0;
}

/* =PageNavi
-------------------------------------------------------------- */

/* Using !important to override PageNavi CSS */

.wp-pagenavi {
    margin:0 0 0 -.5em;
    padding:0.5em 0;

    $pagenav-border-margin-active: 1px solid;
    $pagenav-color-active: #ccc;
    $pagenav-font-style: normal;

    a {
        border: $pagenav-border-margin-active $pagenav-color-active !important;
        color: $pagenav-color-active !important;
        font-style: $pagenav-font-style;
        margin:0 .375em !important;
        padding:0.5em 0.25em !important;
        &:visited {
            border: $pagenav-border-margin-active $pagenav-color-active !important;
            color:#666 !important;
        }
        &:hover {
            border: $pagenav-border-margin-active $pagenav-color-active !important;
            color:#FF4B33 !important;
        }
        &:active {
            border:$pagenav-border-margin-active $pagenav-color-active !important;
            color:#FF4B33 !important;
        }
        &:link {}
    }

    span {
        @extend a;
        .pages {
            border:none !important;
            color:#666 !important;
            margin:0 !important;
            padding:0 !important;
        }
        .current {
            border:none !important;
            color:#666 !important;
            font-weight:normal !important;
            margin:0 !important;
            padding:0 !important;
        }
        .extend {
            background-color:#FFFFFF;
            border:1px solid #000000;
            color:#000000;
            margin:2px;
            padding:2px 4px;
        }
    }
}

.navTOCWidget a {
    text-decoration: none;
}

.nav-section-label {
    text-transform: uppercase;
    width: 120px;
    text-align: right;
    color: #000000;
    padding: 3px 0px 3px 0px;
    margin-right: 10px;
    margin-top: 0.5em;
    text-align: right;
    font-size: 11px;
    font-weight: normal;
    font-family: "Helvetica Neue","Lucida Sans Unicode", Verdana, sans-serif;

    &:hover {
        /* Firefox */
        background: -moz-linear-gradient( left, rgba(238,238,238,1), rgba(255,255,255,1) );

        /* Chrome & Safari */
        background: -webkit-gradient( linear, left top, right top, color-stop( 0, rgba(238,238,238,1) ), color-stop( 1, rgba(255,255,255,1) ) );

        /* IE5.5 - IE7 */
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#FFEEEEEE,EndColorStr=#FFFFFFFF);

        /* IE8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#FFEEEEEE,EndColorStr=#FFFFFFFF)";
        cursor: pointer;
    }

    &:first-child {
        color: #999999;
        border-bottom: 1px dashed #AAAAAA;
    }
    &:last-child {
        color: #999999;
        border-top: 1px dashed #AAAAAA;
    }
}

.fixed-nav {
    position: fixed;
    /* This 'top' value is the number of pixels below the top of the visible window where it will be positioned */
    /* This needs to match the number that is subtracted from the offset in "entry-nav.js" */
    top: 50px;
}

.fixed-menu {
    position: fixed;
    top: 0px;
}